<%- include('header'); -%>
<form method="post" action="/delete">
    <input type="text" name="name" value="" placeholder="name">
    <input type="text" name="password" value="" placeholder="password">
    <button type="submit">submit</button>
</form>
<%- include('footer'); -%>