<%- include('header'); -%>
<form method="post" action="/update?id=<%=id%>">
    <input type="text" name="newpassword" value="" placeholder="newpassword">
    <button type="submit">submit</button>
</form>
<%- include('footer'); -%>